<div id="canvas" class="center">
    <div>
        <h3>Conference Room Management</h3>    
    </div>
    
    <div class="container-fluid margin-top15" ng-controller="RoomCarouselCtrl">
      <div class="row">
        <div class="col-md-6">
            <div style="height: 400px">
                <carousel interval="slideInterval">
                  <slide ng-repeat="room in rooms" active="room.active">
                    <img ng-src="{{url = (room.photoUrl? room.photoUrl : 'images/img_not_available_big.png')}}" alt="{{room.name}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <h4>{{room.name}}</h4>
                        <p>{{room.location}}</p>
                        <p>Capacity {{room.capacity}}</p>
                    </div>
                  </slide>
                </carousel>
            </div>
        </div>
        <div class="col-md-6">
            <div ng-controller="RoomCtrl">
                <ul class="nav nav-pills">
                        <li><button type="button" class="btn btn-info" ng-click="addNewRoom()" ng-mouseenter="pauseSlide()" ng-mouseleave="continueSlide()">Add Conference Room</button></li>
                        <li><button type="button" class="btn btn-info" ng-show="canCancelSave()" ng-click="purgeRoom(room)" ng-mouseenter="pauseSlide()" ng-mouseleave="continueSlide()">   Cancel  </button></li>
                </ul>
                <div class="panel panel-primary margin-top15">
                    
                    <div class="panel-body">
                            <form name="roomForm" novalidate role="form">
                                
                              <div class="form-group">
                                <label class="control-label" for="roomName">Name</label>
                                <input type="text" class="form-control" id="roomName" name="roomName" placeholder="Enter Conference Room Name" ng-model="room.name" ng-trim="true" ng-mouseenter="pauseSlide()" ng-mouseleave="continueSlide()" required>
                                <span class="label label-danger" ng-show="roomForm.roomName.$error.required">Required!</span>
                                <p class="help-block">Enter a unique conference room name</p>
                              </div>

                              <div class="form-group">
                                <label class="control-label" for="roomLocation">Location</label>
                                <input type="text" class="form-control" id="roomLocation" name="roomLocation" placeholder="Enter Conference Room Location" ng-model="room.location" ng-trim="true" ng-mouseenter="pauseSlide()" ng-mouseleave="continueSlide()" required>
                                <span class="label label-danger" ng-show="roomForm.roomLocation.$error.required">Required!</span>
                                <p class="help-block">Enter descriptive conference room location</p>
                              </div>

                              <div class="form-group">
                                <label class="control-label" for="roomPhoto">Photo</label>
                                <input type="file" id="roomPhoto" name="roomPhoto">
                                <p class="help-block">Upload conference room photo here</p>
                              </div>
 
                              <div class="row"> 
                                  <div class="col-md-6">
                                      <div class="form-group">
                                        <div class="checkbox" ng-mouseenter="pauseSlide()" ng-mouseleave="continueSlide()">
                                          <label>
                                            <input type="checkbox" ng-model="room.projectorAvailable"> Does the conference room have projector? {{room.projectorAvailable?'Yes':'No'}}
                                          </label>
                                        </div>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                        <div class="checkbox" ng-mouseenter="pauseSlide()" ng-mouseleave="continueSlide()">
                                          <label>
                                            <input type="checkbox" ng-model="room.tvAvailable"> Does the conference room have TV? {{room.tvAvailable?'Yes':'No'}}
                                          </label>
                                        </div>
                                      </div>
                                  </div> 
                              </div> 
                              <div class="row"> 
                                  <div class="col-md-6">
                                      <div class="form-group">
                                        <div class="checkbox" ng-mouseenter="pauseSlide()" ng-mouseleave="continueSlide()">
                                          <label>
                                            <input type="checkbox" ng-model="room.videoConferenceAvailable"> Does it provide video conferencing capability? {{room.videoConferenceAvailable?'Yes':'No'}}
                                          </label>
                                        </div>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                        <div class="checkbox" ng-mouseenter="pauseSlide()" ng-mouseleave="continueSlide()">
                                          <label>
                                            <input type="checkbox" ng-model="room.audioConferenceAvailable"> Does it provide audio conferencing capability? {{room.audioConferenceAvailable?'Yes':'No'}}
                                          </label>
                                        </div>
                                      </div>
                                  </div> 
                              </div>                        
                                
                              <div class="input-group">
                                  <label class="control-label" for="roomCapacity">Capacity</label>
                                  <input type="number" class="form-control" id="roomCapacity" name="roomCapacity" ng-model="room.capacity" placeholder="10" min="2" max="99" ng-mouseenter="pauseSlide()" ng-mouseleave="continueSlide()" required>
                                  <span class="label label-danger" ng-show="roomForm.roomCapacity.$error.required">Required!</span>
                                  <span class="label label-danger" ng-show="roomForm.roomCapacity.$error.number">Not valid number!</span>
                              </div>  
                                
                              <div class="row margin-top15">  
                                  <div class="col-md-6">
                                    <button class="btn btn-info" ng-show="canSave()" ng-click="saveRoom()" ng-mouseenter="pauseSlide()" ng-mouseleave="continueSlide()">Update Room Information</button>
                                  </div>
                                  <div class="col-md-6">
                                    <button class="btn btn-default" ng-show="canDelete()" ng-click="deleteRoom()" ng-mouseenter="pauseSlide()" ng-mouseleave="continueSlide()">Delete Room {{room.name}}</button>  
                                  </div>
                              </div>  
                                
                        </form>
                </div>
            </div>
        </div>
          
      </div>
        
    </div>
    
</div>
