<div id="canvas" class="center">
    <div>
        <h3>Conference Room Management</h3>    
    </div>
    
    <div class="container-fluid margin-top15" ng-controller="RoomCarouselCtrl">
      <div class="row">
        <div class="col-md-6">
            <div style="height: 400px">
                <carousel interval="slideInterval">
                  <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.photoUrl}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <h4>Room {{slide.name}}</h4>
                        <p>Location {{slide.location}}</p>
                        <p>Capacity {{slide.capacity}}</p>
                    </div>
                  </slide>
                </carousel>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                  <button type="button" class="btn btn-info" ng-click="addSlide()">Add Conference Room</button>
                </div>
            </div>
        </div>
          
      </div>
        
    </div>
    
</div>
