<div id="canvas" class="center">
    <div>
        <h3>User Management</h3>    
    </div>   
    <div ng-controller="UserListCtrl">
    	<div class="container-fluid margin-top15" ng-controller="MenuCtrl">
            <div class="row">
				<div class="col-md-3">
				    <div class="input-group">
                        <input type="text" ng-model="asyncSelected" placeholder="Search User" typeahead="name as user.name for user in filterUser($viewValue)" typeahead-editable="false" typeahead-on-select='onUserSelect($item, $model, $label)' typeahead-loading="loading" class="form-control" name="userSearch" id="userSearch">
                        <div class="input-group-btn">
				            <button class="btn btn-default" type="button" ng-click="filterUser()"><i class="glyphicon glyphicon-search"></i><i ng-show="loading" class="glyphicon glyphicon-refresh"></i></button>
				        </div>
				    </div>
				</div>
                <div class="col-md-6">
					<ul class="nav nav-pills">
                        <li><button class="btn btn-primary btn-large" ng-show="canAddNewUser()" ng-click="addNewUser()"><i class="icon-white icon-user"></i>Add New User</button></li>
                        <li><button class="btn btn-primary btn-large" ng-show="canUploadPhoto()" ng-click="uploadPhoto()"><i class="icon-white icon-camera"></i>Upload User Photo</button></li>
                        <li><button class="btn btn-primary btn-large" ng-show="canDeleteUser()" ng-click="deleteUser()"><i class="icon-white icon-user"></i>Delete User</button></li>
                        <li><button class="btn btn-primary btn-large" ng-show="canRevertUser()" ng-click="revertUser()"><i class="icon-white icon-user"></i>   Revert   </button></li>
                    </ul>
				</div>
                <div class="col-md-3"></div>
            </div>	    
		</div>
        <div id="userlist" ui-grid="gridOptions" class="grid margin-top15" ui-grid-selection ui-grid-edit ui-grid-row-edit ui-grid-cellNav></div>
    </div>
</div>

<div>
    <script type="text/ng-template" id="userPhotoUpload.html">
        <div class="modal-header">
            <h3 class="modal-title">Upload Headshot Photo</h3>
        </div>
        <div class="modal-body">
		<div flow-init="{target: '/conferenceroom-service/service/photo/AlbumUsers/add'}"
			flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
			flow-files-submitted="$flow.upload()"
			flow-file-success="$file.msg = $message">

			Upload image:
			<input type="file" flow-btn/>

			<!--span class="button button-icon" flow-btn>Upload File</span-->

			<table>
		    	<tr ng-repeat="file in $flow.files">
 			       	<td>{{$index+1}}</td>
  			      	<td>{{file.name}}</td>
			       	<td>{{file.msg}}</td>
				</tr>
			</table>
			<button class="btn btn-primary" ng-click="cancel()">Cancel</button>
		</div>
        <div class="modal-footer">
            <!--button class="btn btn-primary" ng-click="ok()">Upload picture file...</button-->
            <!--button class="btn btn-primary" ng-click="cancel()">Cancel</button!-->
        </div>
    </script>
</div>